@model LoanDataAccess.DbModels.Loan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestedAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestedAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaybackTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaybackTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreditScore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreditScore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LatePayments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LatePayments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalDebt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalDebt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiskRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiskRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNavigation.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
